@using SIG_PSPEP.Models
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Esqueci minha senha";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="ForgotPassword" method="post">
    <div class="form-group mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Enviar link para redefinir senha</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
