@{
    ViewData["Title"] = "Senha redefinida";
}

<h2>@ViewData["Title"]</h2>
<p>Sua senha foi redefinida com sucesso! Você já pode fazer login com a nova senha.</p>
<a href="/Identity/Account/Login" class="btn btn-primary">Fazer login</a>
