<style>
    /* Adicionando animação de transição ao ícone */
    .sidebar-link i {
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    /* Mudança de cor e aumento do ícone quando o mouse passa sobre o link */
    .sidebar-link:hover i {
        color: #ff5733; /* Cor vibrante */
        transform: scale(1.2); /* Aumenta o ícone */
    }

    .sidebar-link:hover span {
        color: #ff5733; /* Cor vibrante para o texto */
        .navbar

    {
        padding-top: 60px; /* Ajuste conforme a altura do navbar-header */
    }

    aside {
        width: 250px;
        display: flex;
        flex-direction: column;
    }
</style>

<aside class="left-sidebar" data-sidebarbg="skin5">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-controller="Home" asp-action="Index" asp-area=""
                       aria-expanded="false">
                        <i class="fas fa-id-badge"></i><span class="hide-menu">Portal do Agente</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-controller="Pedidos" asp-action="Index" asp-area=""
                       aria-expanded="false">
                        <i class="fas fa-clipboard-list"></i><span class="hide-menu">Pedidos</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-controller="Solicitacaos" asp-action="Index" asp-area=""
                       aria-expanded="false">
                        <i class="fas fa-paper-plane"></i><span class="hide-menu">Solicitações</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-controller="Home" asp-action="Documento" asp-area=""
                       aria-expanded="false">
                        <i class="fas fa-folder-open"></i><span class="hide-menu">Meus Documentos</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="grid.html"
                       aria-expanded="false">
                        <i class="fas fa-check-circle"></i><span class="hide-menu">Tarefas</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="fas fa-history"></i><span class="hide-menu">Linha do Tempo</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a asp-controller="Home" asp-action="Pedido" asp-area="" class="sidebar-link">
                                <i class="fas fa-edit"></i><span class="hide-menu">Pedidos</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-controller="Home" asp-action="Solicitacao" asp-area="" class="sidebar-link">
                                <i class="fas fa-edit"></i><span class="hide-menu">Solicitações</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="fas fa-life-ring"></i><span class="hide-menu">Suporte Técnico</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="form-basic.html" class="sidebar-link">
                                <i class="fas fa-ticket-alt"></i><span class="hide-menu">Gerar Ticket</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="form-wizard.html" class="sidebar-link">
                                <i class="fas fa-question-circle"></i><span class="hide-menu">Ajuda</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-action="RedirecParaArea" asp-controller="Conta" asp-area=""
                       aria-expanded="false">
                        <i class="fas fa-user-circle"></i><span class="hide-menu">Minha Área</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
