
<style>
    /* Adicionando animação de transição ao ícone */
    .sidebar-link i {
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    /* Mudança de cor e aumento do ícone quando o mouse passa sobre o link */
    .sidebar-link:hover i {
        color: #ff5733; /* Cor vibrante */
        transform: scale(1.2); /* Aumenta o ícone */
    }

    .sidebar-link:hover span {
        color: #ff5733; /* Cor vibrante para o texto */
        .navbar

    {
        padding-top: 60px; /* Ajuste conforme a altura do navbar-header */
    }

    aside {
        width: 250px;
        display: flex;
        flex-direction: column;
    }
</style>

<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-controller="Home" asp-action="Index" asp-area="Admin"
                       aria-expanded="false">
                        <i class="fa fa-home"></i><span class="hide-menu">Painel de Controle</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-controller="AdminUsers" asp-action="Index" asp-area="Admin"
                       aria-expanded="false">
                        <i class="mdi mdi-account-key"></i><span class="hide-menu">Usuarios</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-controller="Areas" asp-action="Index" asp-area="Admin"
                       aria-expanded="false">
                        <i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Áreas</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-receipt"></i><span class="hide-menu">Segurança</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a asp-controller="AdminRoles" asp-action="Index" asp-area="Admin" class="sidebar-link">
                                <i class="mdi mdi-note-outline"></i><span class="hide-menu">Gerir Função</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-controller="AdminClaims" asp-action="Index" asp-area="Admin" class="sidebar-link">
                                <i class="mdi mdi-note-plus"></i><span class="hide-menu">Gerir Permissão</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-receipt"></i><span class="hide-menu">Definição </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a asp-controller="OrgaoUnidades" asp-action="Index" asp-area="Admin" class="sidebar-link">
                                <i class="mdi mdi-note-outline"></i><span class="hide-menu">Orgãos e Unidades</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-controller="Provincias" asp-action="Index" asp-area="Admin" class="sidebar-link">
                                <i class="mdi mdi-note-plus"></i><span class="hide-menu">Provincias</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-controller="Municipios" asp-action="Index" asp-area="Admin" class="sidebar-link">
                                <i class="mdi mdi-note-plus"></i><span class="hide-menu">Municípios</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-controller="Bancos" asp-action="Index" asp-area="Admin"
                       aria-expanded="false">
                        <i class="mdi mdi-relative-scale"></i><span class="hide-menu">Instituíção Bancaria</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-face"></i><span class="hide-menu">Auditória</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a asp-controller="LogsAcessos" asp-action="Index" asp-area="Admin" class="sidebar-link">
                                <i class="mdi mdi-emoticon"></i><span class="hide-menu"> Controle de Acessos </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-controller="LogsEventos" asp-action="Index" asp-area="Admin" class="sidebar-link">
                                <i class="mdi mdi-emoticon-cool"></i><span class="hide-menu">Controle de Eventos</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-controller="Tickets" asp-action="Index" asp-area="Admin"
                       aria-expanded="false">
                        <i class="mdi mdi-relative-scale"></i><span class="hide-menu">Ticket</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>