@model SIG_PSPEP.Entidades.RadioMovimento

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RadioMovimento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RadioId" class="control-label"></label>
                <select asp-for="RadioId" class="form-control" asp-items="ViewBag.RadioId"></select>
                <span asp-validation-for="RadioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RadioGuiaId" class="control-label"></label>
                <select asp-for="RadioGuiaId" class="form-control" asp-items="ViewBag.RadioGuiaId"></select>
                <span asp-validation-for="RadioGuiaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgUnidPnaMinintId" class="control-label"></label>
                <select asp-for="OrgUnidPnaMinintId" class="form-control" asp-items="ViewBag.OrgaoUnidadeId"></select>
                <span asp-validation-for="OrgUnidPnaMinintId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoMovimento" class="control-label"></label>
                <input asp-for="TipoMovimento" class="form-control" />
                <span asp-validation-for="TipoMovimento" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DataRegisto" class="control-label"></label>
                <input asp-for="DataRegisto" class="form-control" />
                <span asp-validation-for="DataRegisto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataUltimaAlterecao" class="control-label"></label>
                <input asp-for="DataUltimaAlterecao" class="form-control" />
                <span asp-validation-for="DataUltimaAlterecao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
