@model SIG_PSPEP.Models.EfectivoViewModel

@{
    ViewData["Title"] = "Edit";
}

<form id="editForm" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <input type="hidden" id="EfectivoId" name="Id" value="@Model.Id" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <!-- Foto -->
    <div class="col-6 col-md-3">
        <div class="profile-img-edit text-center">
            <div class="crm-profile-img-edit">
                @if (Model.FotoByte != null)
                {
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.FotoByte)"
                         alt="Foto do Condutor"
                         class="crm-profile-pic rounded-circle-1 avatar-80"
                         id="profileImage" />
                }
                else
                {
                    <img class="crm-profile-pic rounded-circle-1 avatar-80"
                         src="@Url.Content("~/assets/images/users/user-polic.png")"
                         alt="profile-pic"
                         id="profileImage">
                }

                <div class="crm-p-image bg-primary" id="uploadTrigger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                    </svg>
                    <input class="file-upload" id="imageUpload" name="FotoIF" type="file" accept="image/*" style="display: none;">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="SituacaoEfectivoId" class="control-label"></label>
        <select asp-for="SituacaoEfectivoId" class="form-control" asp-items="ViewBag.SituacaoEfectivoId"></select>
        <span asp-validation-for="SituacaoEfectivoId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OrgaoUnidadeId" class="control-label"></label>
        <select asp-for="OrgaoUnidadeId" class="form-control" asp-items="ViewBag.OrgaoUnidadeId"></select>
        <span asp-validation-for="OrgaoUnidadeId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FuncaoCargoId" class="control-label"></label>
        <select asp-for="FuncaoCargoId" class="form-control" asp-items="ViewBag.FuncaoCargoId"></select>
        <span asp-validation-for="FuncaoCargoId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PatenteId" class="control-label"></label>
        <select asp-for="PatenteId" class="form-control" asp-items="ViewBag.PatenteId"></select>
        <span asp-validation-for="PatenteId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Num_Processo" class="control-label"></label>
        <input asp-for="Num_Processo" class="form-control" />
        <span asp-validation-for="Num_Processo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NIP" class="control-label"></label>
        <input asp-for="NIP" class="form-control" />
        <span asp-validation-for="NIP" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="N_Agente" class="control-label"></label>
        <input asp-for="N_Agente" class="form-control" />
        <span asp-validation-for="N_Agente" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NomeCompleto" class="control-label"></label>
        <input asp-for="NomeCompleto" class="form-control" />
        <span asp-validation-for="NomeCompleto" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Apelido" class="control-label"></label>
        <input asp-for="Apelido" class="form-control" />
        <span asp-validation-for="Apelido" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Genero" class="control-label"></label>
        <input asp-for="Genero" class="form-control" />
        <span asp-validation-for="Genero" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DataNasc" class="control-label"></label>
        <input asp-for="DataNasc" class="form-control" />
        <span asp-validation-for="DataNasc" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EstadoCivil" class="control-label"></label>
        <input asp-for="EstadoCivil" class="form-control" />
        <span asp-validation-for="EstadoCivil" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GSanguineo" class="control-label"></label>
        <input asp-for="GSanguineo" class="form-control" />
        <span asp-validation-for="GSanguineo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NumBI" class="control-label"></label>
        <input asp-for="NumBI" class="form-control" />
        <span asp-validation-for="NumBI" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BIValidade" class="control-label"></label>
        <input asp-for="BIValidade" class="form-control" />
        <span asp-validation-for="BIValidade" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BIEmitido" class="control-label"></label>
        <input asp-for="BIEmitido" class="form-control" />
        <span asp-validation-for="BIEmitido" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NumCartaConducao" class="control-label"></label>
        <input asp-for="NumCartaConducao" class="form-control" />
        <span asp-validation-for="NumCartaConducao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CartaValidade" class="control-label"></label>
        <input asp-for="CartaValidade" class="form-control" />
        <span asp-validation-for="CartaValidade" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CartaEmitido" class="control-label"></label>
        <input asp-for="CartaEmitido" class="form-control" />
        <span asp-validation-for="CartaEmitido" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NumPassaporte" class="control-label"></label>
        <input asp-for="NumPassaporte" class="form-control" />
        <span asp-validation-for="NumPassaporte" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PassapValidade" class="control-label"></label>
        <input asp-for="PassapValidade" class="form-control" />
        <span asp-validation-for="PassapValidade" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PassapEmitido" class="control-label"></label>
        <input asp-for="PassapEmitido" class="form-control" />
        <span asp-validation-for="PassapEmitido" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nacionalidade" class="control-label"></label>
        <input asp-for="Nacionalidade" class="form-control" />
        <span asp-validation-for="Nacionalidade" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProvinciaNascId" class="control-label"></label>
        <input asp-for="ProvinciaNascId" class="form-control" />
        <span asp-validation-for="ProvinciaNascId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MunicipioId" class="control-label"></label>
        <input asp-for="MunicipioId" class="form-control" />
        <span asp-validation-for="MunicipioId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Destrito_BairroRes" class="control-label"></label>
        <input asp-for="Destrito_BairroRes" class="form-control" />
        <span asp-validation-for="Destrito_BairroRes" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rua" class="control-label"></label>
        <input asp-for="Rua" class="form-control" />
        <span asp-validation-for="Rua" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CasaNum" class="control-label"></label>
        <input asp-for="CasaNum" class="form-control" />
        <span asp-validation-for="CasaNum" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Habilitacao" class="control-label"></label>
        <input asp-for="Habilitacao" class="form-control" />
        <span asp-validation-for="Habilitacao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CursoHabilitado" class="control-label"></label>
        <input asp-for="CursoHabilitado" class="form-control" />
        <span asp-validation-for="CursoHabilitado" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="InstitAcademica" class="control-label"></label>
        <input asp-for="InstitAcademica" class="form-control" />
        <span asp-validation-for="InstitAcademica" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Telefone1" class="control-label"></label>
        <input asp-for="Telefone1" class="form-control" />
        <span asp-validation-for="Telefone1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Telefone2" class="control-label"></label>
        <input asp-for="Telefone2" class="form-control" />
        <span asp-validation-for="Telefone2" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DataIngresso" class="control-label"></label>
        <input asp-for="DataIngresso" class="form-control" />
        <span asp-validation-for="DataIngresso" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TipoVinculo" class="control-label"></label>
        <input asp-for="TipoVinculo" class="form-control" />
        <span asp-validation-for="TipoVinculo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Carreira" class="control-label"></label>
        <input asp-for="Carreira" class="form-control" />
        <span asp-validation-for="Carreira" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UnidadeOrigem" class="control-label"></label>
        <input asp-for="UnidadeOrigem" class="form-control" />
        <span asp-validation-for="UnidadeOrigem" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OutrasInfo" class="control-label"></label>
        <input asp-for="OutrasInfo" class="form-control" />
        <span asp-validation-for="OutrasInfo" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
</form>
