
<style>

   .navbar {
        padding-top: 60px; /* Ajuste conforme a altura do navbar-header */
    }

    aside {
        width: 250px;
        display: flex;
        flex-direction: column;
    }
</style>

<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-controller="Home" asp-action="Index" asp-area="Dpq"
                       aria-expanded="false">
                        <i class="fa fa-home"></i><span class="hide-menu">Painel de Control</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="charts.html"
                       aria-expanded="false">
                        <i class="mdi mdi-chart-bar"></i><span class="hide-menu">Estatistica</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-controller="Efectivos" asp-action="Index" asp-area="Dpq"
                       aria-expanded="false">
                        <i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Registo de Efectivo</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-receipt"></i><span class="hide-menu">Efectividade </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="form-basic.html" class="sidebar-link">
                                <i class="mdi mdi-note-outline"></i><span class="hide-menu">Geral da PSPEP</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="form-wizard.html" class="sidebar-link">
                                <i class="mdi mdi-note-plus"></i><span class="hide-menu">Por Unidade e Orgão</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="form-wizard.html" class="sidebar-link">
                                <i class="mdi mdi-note-plus"></i><span class="hide-menu">Reformados</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-face"></i><span class="hide-menu">Relatórios </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="icon-material.html" class="sidebar-link">
                                <i class="mdi mdi-emoticon"></i><span class="hide-menu">Efectiividade</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="icon-fontawesome.html" class="sidebar-link">
                                <i class="mdi mdi-emoticon-cool"></i><span class="hide-menu">Ficha Indívidual</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="icon-fontawesome.html" class="sidebar-link">
                                <i class="mdi mdi-emoticon-cool"></i><span class="hide-menu">Quadriculados</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="tables.html"
                       aria-expanded="false">
                        <i class="mdi mdi-border-inside"></i><span class="hide-menu">Passe de Identificação</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="grid.html"
                       aria-expanded="false">
                        <i class="mdi mdi-blur-linear"></i><span class="hide-menu">Pedidos</span>
                    </a>
                </li>
               
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="pages-buttons.html"
                       aria-expanded="false">
                        <i class="mdi mdi-relative-scale"></i><span class="hide-menu">Tarefas</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="pages-calendar.html" class="sidebar-link">
                        <i class="mdi mdi-calendar-check"></i><span class="hide-menu"> Day OFF </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark"
                       href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-move-resize-variant"></i><span class="hide-menu">Definições </span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="index2.html" class="sidebar-link">
                                <i class="mdi mdi-view-dashboard"></i><span class="hide-menu"> Dashboard-2 </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="pages-gallery.html" class="sidebar-link">
                                <i class="mdi mdi-multiplication-box"></i><span class="hide-menu"> Gallery </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="pages-calendar.html" class="sidebar-link">
                                <i class="mdi mdi-calendar-check"></i><span class="hide-menu"> Calendar </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="pages-invoice.html" class="sidebar-link">
                                <i class="mdi mdi-bulletin-board"></i><span class="hide-menu"> Invoice </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="pages-chat.html" class="sidebar-link">
                                <i class="mdi mdi-message-outline"></i><span class="hide-menu"> Chat Option </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item p-3">
                    <a href="https://github.com/wrappixel/matrix-admin-bt5"
                       target="_blank"
                       class="
                    w-100
                    btn btn-cyan
                    d-flex
                    align-items-center
                    text-white
                  ">
                        <i class="mdi mdi-cloud-download font-20 me-2"></i>Download
                        Free
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>